details{
    padding-bottom: 1em;
}

div {
    display: inline-block;
    padding-bottom: 10px;
}

td {
    width: 2em;
}
th {
    text-align: left;
}
.moved {
    margin-right: 3em;
}

.dopInfo td {
    width: 3em;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid;
    border-collapse: collapse;
}