details{
    padding-bottom: 1em;
}

div {
    display: inline-block;
}

.circles {
    border: 1px solid black;
}

.moved {
    margin-right: 4em;
}

td {
    width: 2em;
}
th {
    text-align: left;
}