body{
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding-top: 1em;
    padding-left: 1em;
    background-color: beige;
}

label{
    font-size: 14px;
}

div{
    padding-bottom: 2em;
}

input[type='range']{
    position: relative;
    display: inline-block;
    top: 4px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 3;
}

.flex-child:first-child {
    margin-right: 3em;
}

input[type='checkbox']{
    position: relative;
    display: inline-block;
    top: 3px;
}

section {
    display: inline-block;
    margin-right: 1em;
}

#demo{
    padding-top: 1em;
    padding-bottom: 0;
    width: 100%;
    vertical-align:middle;
}

#buttons {
    text-align: center;
}

canvas{
    display: block;
    margin: 1em auto;
    background-color: white;
    position: relative;
}

#buttons button{
    height: 4em;
    padding-right: 0.7em;
    max-width: calc((100vw - 4.9em)/7);
}